#content

  - form_tag login_url, :method => :post, :id => "login_form" do
    - if flash[:error].present?
      #error= h flash[:error]

    .field
      .label 
        Target
      .input 
        = text_field_tag "target", flash[:target], :class => "text", :id => "login_target"
    .field
      .label
        Username
      .input 
        = text_field_tag "username", flash[:username], :class => "text"
    .field
      .label 
        Password
      .input
        = password_field_tag "password", nil, :class => "text"
    .field.submit
      = submit_tag "Log In"
